/*header style*/

header {

    text-align: center; 
    padding-right: 1em;
    padding-top: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: khaki;
 
 }

 h1 {

    font-family: castellar;
    text-align: center;
    
 }

 h6 {
    
    font-family: Lucida Handwriting;
    text-align: center; 
    
 }
 
 .imagen_logo {

    padding-top: 1em;
    width:110px;
    border-radius:100px;

 }
 
 .center {

    text-align: center;

 }
 
 /*navigation menu style*/
 
 nav {
 
    text-align: left; 
    word-spacing: 30px; 
    padding: 10px;
 
 }

 /*navigation bar button style*/
 
 nav a {
 
    color: #000000; 
    text-decoration: underline; 
    font-size:medium;
 
 } 

.buscar {

    float: right;
    padding-top: 1em;

}

/* primera parte del main*/

h2 {

   font-family: Lucida Bright;
   padding-top: 2em;

}



/* carousel con cards*/
.card_env {

   display: flex;
   margin: 10em; 
   padding: 50px;
   

}

.card {

   margin: 0 .5em;
   width: calc(100%/3);
   

}

.img_env {

   width: 200px;
   height: 200px;

}



